body{
	font: 12px/1.5 'Open Sans', Arial, sans-serif;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

/* Layout */
.ba-container{
	padding-left: 18px;
	padding-right: 20px;
}
.ba-header {
	background: url(../img/header-layout.jpg) no-repeat 50%;
	background-size: cover;
	color: #FFF;
}
.ba-nav-layout {
	background-color: rgba(0, 0, 0, .7);
}
.ba-container {
	max-width: 960px;
}
.ba-menu {
	text-align: center;
	list-style-type: none;
	font-size: 0;
}
.ba-menu li {
	display: inline-block;
	font-size: 11px;
}
.ba-menu a {
	display: block;
	margin-right: 5px;
	padding: 15px;
	text-decoration: none;
	letter-spacing: 3px;
	color: #FFF;
	transition: all .3s ease;
}
nav:hover a {
	color: transparent;
	text-shadow: 0 0 3px #fff;
}
nav a:hover {
	color: #FFF;
	text-shadow: none;
}
.ba-intro {
	width: 660px;
	padding: 40px 0;
	letter-spacing: 2px;
	text-align: center;
}
.ba-intro h3{
	display: inline-block;
	background-color: #82B440;
	padding: 5px 2px;
	margin-bottom: 0;
	font-weight: normal;
}
.ba-intro h3 + p {
	margin-bottom: 20px;
}
